<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8"/>
        <meta name="author" content="Cass Alexandru"/>
        <link rel="stylesheet" type="text/css" href="./stylesheet.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>$title$</title>
        <style>
summary>h2{display:inline;margin:0}summary:has(>h2){font-size:2.2rem;line-height:1}
section p{width:55%}section dl,section ol,section ul{width:50%;-webkit-padding-start:5%}
        </style>
        <link rel="icon" type="image/x-icon" href="./assets/favicon.ico">
    </head>

    <body>
        <div id="content">
            <article>
                $if(heading)$
                  $heading$
                $elseif(title)$
                  <h1>$title$</h1>
                $endif$
                $if(subtitle)$
                  <h2>$subtitle$</h2>
                $endif$
                $if(date)$
                  <h3 class="numeral">$date$</h3>
                $endif$
                <section>
                    $body$
                </section>
            </article>
        </div>
    </body>

</html>
